@charset "utf-8";
/* CSS Document */
.empty {
	background-color:darkgray;
	position: relative;
	padding-bottom: 80px;
		
}
.d-flex p-2 bd-highlight {
	z-index: 10;
}
.black-fill {
	background-color: currentColor;
	padding-bottom: 50vh;
}

.jumbotron /* Apply this selector to the element on which this effects needs to be applied*/
input[type=text], textarea {
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	transition: all 0.30s ease-in-out;
	padding: 3px 0 3px 3px;
	margin: 5px 1px 3px 0;
	border: 1px solid #DDDDDD;
}

input[type=text]:focus, textarea:focus {
	box-shadow: 0 0 5px #51CBEE;
	outline: none;
	padding: 3px 0 3px 3px;
	margin: 5px 1px 3px 0;
	border: 1px solid #51CBEE;
}

h1 {
	color: blue;
	
}
